@import url(main.css);

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    background-color: #0D47A1;
    color: #fff;
}

.rodape .contato {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.rodape .logoSanta {
    width: 6%;
    height: auto;
}

.rodape .mec {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.rodape .mec .qrCode {
    width: 6%;
    height: auto;
}

.rodape .mec .emec {
    width: 30%;
    height: auto;
}