@import url(main.css);

/* Mobile */
@media(min-width: 0px) {
    .grade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 85%;
        margin: auto;
    }
    
    .grade .sectionTitle {
        font-size: 1.2rem;
        align-self: flex-start;
        margin-top: 1rem;
    }
    
    .grade .disciplinas {
        display: flex;
        flex-wrap: wrap; /* test */
        margin: 2rem 0rem;
        gap: 1rem;
    }
    
    .semestre {
        /* flex: 1 1 calc(50% - 10%); */
        border: .1rem solid var(--text-color);
        width: 100%;
    }
    
    .grade .disciplinas .semestre .titulo {
        font-size: 1rem;
        padding: .5rem 1rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }
    
    .grade .disciplinas .semestre .titulo:hover {
        background-color: #eaeaea;
    }
    
    .grade .disciplinas .semestre .conteudo {
        font-size: .8rem;
        list-style-type: none;
        padding: 0.5rem 1rem;
        margin: 0;
        display: none; /* Esconde por padrão */
    }
    
    .grade .disciplinas .semestre .conteudo li {
        padding: .3rem 0;
        border-bottom: .1rem solid var(--text-color);
    }
    
    .grade .disciplinas .semestre .conteudo li:last-child {
        border-bottom: none;
    }
}

/* Tablet */
@media(min-width: 481px) {
    .grade .sectionTitle {
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    .grade .disciplinas .semestre .titulo {
        font-size: 1.4rem;
    }

    .grade .disciplinas .semestre .conteudo {
        font-size: 1.2rem;
    }
}

/* Laptop */
@media(min-width: 771px) {
    .semestre {
        flex: 1 1 calc(50% - 10%);
    }

    .grade .sectionTitle {
        font-size: 1.8rem;
    }

    .grade .disciplinas .semestre .titulo {
        font-size: 1.6rem;
    }

    .grade .disciplinas .semestre .conteudo {
        font-size: 1.4rem;
    }
}

/* Desktop */
@media(min-width: 1025px) {
    .grade {
        max-width: 75%;
    }
}