@import url(main.css);


/* Mobile */
@media(min-width: 0px) {
    header {
        display: flex;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 8vh;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    header .santaHeader {
        height: 2.2rem;
        width: auto;
    }

    .icons i {
        font-size: 1.4rem;
        color: var(--text-color);
        cursor: pointer;
        height: auto;
        width: 1rem;
    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
}

/* Tablet */
@media(min-width: 481px) {
    .icons {
        gap: 1.5rem;
    }

    header .santaHeader {
        height: 2.5rem;
    }
}

/* header .santaHeader {
    height: 4rem;
    width: auto;
} */

/* .icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
} */

/* .icons i {
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    height: 2rem;
    width: 2rem;
} */