@import url(main.css);


/* Mobile */
@media(min-width: 0px) {
    header {
        display: flex;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 8vh;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    header .santaHeader {
        height: 2.2rem;
        width: auto;
    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .icons i {
        color: var(--text-color);
        cursor: pointer;
        height: auto;
        width: 1rem;
        font-size: 1.4rem;
    }
}

/* Tablet */
@media(min-width: 481px) {
    header {
        justify-content: space-around;
        min-height: 9vh;
    }

    header .icons {
        gap: 2.5rem;
    }

    header .santaHeader {
        height: 3rem;
    }

    .icons i {
        font-size: 1.7rem;
    }
}

/* Laptop */
@media(min-width: 771px) {
    header {
        justify-content: space-around;
        min-height: 10vh;
    }

    header .icons {
        gap: 3rem;
    }

    header .santaHeader {
        height: 4rem;
    }

    .icons i {
        font-size: 2rem;
    }
}