@import url(main.css);

header {
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10vh;
    justify-content: center;
}

header div {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header div img {
    height: 4rem;
    width: auto;
}

header div h1 {
    font-size: 2rem;
}