@import url(main.css);

/* Mobile */
@media(min-width: 0px) {
    .informacoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: .8rem;
        gap: 2.6rem;
    }

    .informacoes div {
        display: flex;
        flex-direction: column;
    }
    
    .informacoes p {
        color: var(--text-color);
        font-weight: bold;
        font-size: .75rem;
    }
}


/* Tablet */
@media(min-width: 481px) {
    .informacoes {
        margin: 1rem;
        gap: 2rem;
    }

    .informacoes div {
        flex-direction: row;
        gap: .3rem;
    }

    .informacoes p {
        font-size: 1.1rem;
    }
}

/* Laptop */
@media(min-width: 771px) {
    .informacoes {
        margin: 1rem;
    }

    .informacoes div {
        gap: .4rem;
    }

    .informacoes p {
        font-size: 1.3rem;
    }
}

/* Desktop */
@media(min-width: 1025px) {
    .informacoes {
        margin: 1.5rem auto;
        gap: 2.6rem;
    }

    .informacoes div {
        gap: .5rem;
    }

    .informacoes p {
        font-size: 1.5rem;
    }
}

/* Ultrawide */
@media(min-width: 1525px) {
    .informacoes {
        gap: 3rem;
    }
}