@import url(main.css);

/* Mobile */
@media(min-width: 0px) {
    .informacoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0.3rem;
    }
    
    .informacoes p {
        color: var(--text-color);
        font-weight: bold;
        font-size: .7rem;
    }
}


/* Tablet */
@media(min-width: 481px) {
    .informacoes {
        margin: 1rem;
        gap: 3rem;
    }

    .informacoes p {
        font-size: 1.1rem;
    }
}

/* Laptop */
@media(min-width: 771px) {
    .informacoes {
        margin: 1rem;
        gap: 1.6rem;
    }

    .informacoes p {
        font-size: 1.3rem;
    }
}

/* Desktop */
@media(min-width: 1025px) {
    .informacoes {
        margin: 1.5rem auto;
        gap: 2rem;
    }

    .informacoes p {
        font-size: 1.5rem;
    }
}