@import url(main.css);

/* Mobile */
@media(min-width: 0px) {
    .infraestrutura {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        background-color: var(--style-color);
        color: var(--main-color);
    }
    
    .infraestrutura .infra-container {
        display: inherit;
        justify-content: center;
        flex-direction: column;
        margin: 1rem auto;
        gap: 1rem;
        padding: 1rem;
        max-width: 90%;
        height: auto;
    }

    .infraestrutura h2 {
        font-size: 1.1rem;
    }
    
    .infraestrutura .infra-conteudo {
        display: inherit;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .infraestrutura div p {
        font-size: .9rem;
    }
    
    .infraestrutura div iframe {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21rem;
        height: auto;
        padding: 2rem;
    }
    
    .infraestrutura a {
        display: inline-block;
        background-color: #b20000;
        line-height: 30px;
        color: var(--main-color);
        border-radius: 14px;
        text-align: center;
        font-size: .9rem;
        justify-self: center;
        align-self: center;
        font-weight: bold;
        padding: .8rem .6rem;
        width: 85%;
        height: auto;
    }
}

/* Tablet */
@media(min-width: 481px) {

    .infraestrutura h2 {
        font-size: 1.6rem;
    }

    .infraestrutura div p {
        font-size: 1.1rem;
    }

    .infraestrutura div iframe {
        width: 35rem;
        height: 21rem;
    }

    .infraestrutura a {
        line-height: 30px;
        font-size: 1.2rem;
        width: 80%;
        height: 4rem;
    }
}

/* Laptop */
@media(min-width: 771px) {
    .infraestrutura h2 {
        font-size: 2rem;
    }

    .infraestrutura div p {
        font-size: 1.3rem;
    }

    .infraestrutura div iframe {
        width: 40rem;
        height: 24rem;
    }

    .infraestrutura a {
        line-height: 35px;
        font-size: 1.5rem;
        height: 4rem;
    }
}