* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* retirar sublinhado de links */
    text-decoration: none;
    border: none;
    outline: none;

    /* deslize suave da tela */
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons i {
    font-size: 2rem;
    color: #909090;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    margin: 2rem 3rem;
}