@import url(main.css);

/* Mobile */
@media(min-width: 0px) {
    .sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        max-width: 90%;
        margin: 1rem auto;
        gap: .5rem;
    }
    
    .sobre div {
        flex-direction: column;
    }

    .sobre img {
        width: 100%;
        height: auto;
        margin-bottom: .5rem;
    }
    
    .sobre {
        align-items: center;
        justify-content: center;
    }
    
    .sobre h2 {
        font-size: .96rem;
    }
    
    .sobre p {
        font-size: .9rem;
        color: var(--text-color);
    }
}

/* Tablet */
@media(min-width: 481px) {
    .sobre h2 {
        font-size: 1.6rem;
        margin: .5rem 0rem;
    }
    
    .sobre p {
        font-size: 1.1rem;
    }
}

/* Laptop */
@media(min-width: 771px) {
    .sobre {
        flex-direction: column;
        margin: 1.5rem auto;
        gap: .8rem;
    }

    .sobre div {
        display: flex;
        flex-direction: row;
        margin: 1rem 0rem;
        gap: 1rem;
    }

    .sobre img {
        width: 45%;
    }

    .sobre h2 {
        font-size: 2rem;
        margin-bottom: 0.8rem;
    }
    
    .sobre p {
        /* editar */
        font-size: 1.4rem; 
    }
}

/* Desktop */
@media(min-width: 1025px) {
    .sobre {
        width: 80%;
    }

    .sobre div {
        gap: 2rem;
        margin: 2rem 0rem;
    }
}

/* Ultrawide */
@media(min-width: 1525px) {
    .sobre {
        width: 55%;
    }

    .sobre h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .sobre p {
        /* editar */
        font-size: 1.6rem; 
    }
}
