@import url(main.css);

.sobre {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 1rem;
    width: 60%;
    margin: 1rem auto;
    gap: 1rem;
}

.sobre img {
    width: 50%;
    height: auto;
}

.sobre div {
    width: 60%;
}

.sobre div h2 {
    font-size: 1.7rem;
    margin-bottom: 0.3rem;
}

.sobre div p {
    font-size: 1.1rem;
    color: var(--text-color);
}